{% include '../components/heading.twig' with heading %}
<div class="wrapper">
    <div class="wrapper__row wrapper__row--full-height" data-animation="itemsFade" data-elements="js-col">
        {% for col in cols %}
        <div class="col-25 {% if col.slider_mobile %}phone-hide{% endif %}{% if not col.text %} js-col{% endif %}">
            {% if col.text %}
            <div class="wrapper__intro{% if col.text_class %} wrapper__intro--{{col.text_class}}{% endif %}" data-animation="fadeUp">{{col.text}}</div>
            {% endif %}
            {% if col.type == 'profile' %}
            <div class="profile">
                <div class="profile__img"><img src="{{col.img}}" alt=""></div>
                <div class="profile__wrap">
                    <div class="profile__quote">
                        <div class="profile__qmark">“</div>
                        <div>{{col.quote}}</div>
                    </div>
                    <div class="profile__texts">
                        <h3 class="profile__name">{{col.name|raw}}</h3>
                        <span class="profile__tag">{{col.tag}}</span>
                        <hr class="profile__hr js-hr">
                        <div class="profile__follow">
                            <p>Follow<br><strong>{{col.name|split(' ')[0]}}</strong> on:</p>
                            <div class="profile__socials">
                                {% for social in col.socials %}
                                <a href="{{social.link}}" target="_blank">[[svg::{{social.type}}]]</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="tile js-tile{% if col.border %} tile--border{% endif %}">
                <div class="tile__body {% if col.align_center %} tile__body--center{% endif %}">
                {% if col.url %}<a href="{{col.url}}" target="_blank" class="tile__url"></a>{% endif %}
                {% if col.img %}<div class="tile__img{% if col.img_class %} tile__img--{{col.img_class}}{% endif %}"><img src="{{col.img}}" alt=""></div>{% endif %}
                {% if col.date %}<time class="tile__date">{{col.date}}</time>{% endif %}
                {% if col.lead %}<div class="tile__lead">{{col.lead|raw}}</div>{% endif %}
                {% if col.info %}<p class="tile__text">{{col.info|raw}}</p>{% endif %}
                
                {% if col.quote %}<div class="tile__quote">{{col.quote|raw}}</div>{% endif %}
                </div>
                <div class="tile__footer">
                {% if col.social %}
                    <div class="tile__evaluation">
                        {% if col.like %}
                        {% include '../components/clap.twig' %}
                        {% endif %}
                        {% if col.dislike %}
                        {% include '../components/dislike.twig' %}
                        {% endif %}
                    </div>
                    {% include '../components/share.twig' with col.social %}
                {% endif %}
                {% if col.donate_url %}<a href="{{col.donate.url}}" target="_blank" class="tile__button" style="background-color: {{col.button_color}}; color: {{col.button_color}}"><span>donate</span></a>{% endif %}
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% if slider_mobile %}
        <div class="slider slider--profile desktop-hide" data-component="Slider" data-options='{"type": "{{slider_type}}", "mode": "{{slider_mode}}"}'>
            <div class="slider__wrapper">
                <div class="slider__list js-list">
                    {% for col in cols %}
                    {% if col.slider_mobile %}
                    <div class="slider__item slider__item--profile js-item">
                        <div class="profile">
                            <div class="profile__img"><img src="{{col.img}}" alt=""></div>
                            <div class="profile__wrap">
                                <div class="profile__texts">
                                    <h3 class="profile__name">{{col.name|raw}}</h3>
                                    <span class="profile__tag">{{col.tag}}</span>
                                    <hr class="profile__hr js-hr">
                                    <div class="profile__follow">
                                        <p>Follow<br><strong>{{col.name|split(' ')[0]}}</strong> on:</p>
                                        <div class="profile__socials">
                                            {% for social in col.socials %}
                                            <a href="{{social.link}}" target="_blank">[[svg::{{social.type}}]]</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="profile__quote">
                                <div class="profile__qmark">“</div>
                                <div>{{col.quote}}</div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="slider__nav">
                <button class="slider__prev js-prev">[[svg::arrow-prev]]</button>
                <button class="slider__next js-next">[[svg::arrow-next]]</button>
                <ul class="slider__dots">
                    {% for col in cols %}
                    {% if col.slider_mobile %}
                    <li class="slider__dot js-dot"></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</div>