{% include '../components/heading.twig' with heading %}
<div class="wrapper {% if spacebottom %}wrapper--editions{% endif %}">
    {% for row in rows %}
    <div class="wrapper__row wrapper__row--alignleft">
        {% for col in row.cols %}
        {% if col.wide %}
        <div class="col-58">
            {% if col.month %}
            <h2 class="wrapper__text">{{col.month|raw}}</h2>
            <div class="wrapper__info">{{col.info}}</div>
            {% else %}
            <div class="tile--edition js-tile {{col.comb_color}}" style="background: {{col.color}}">
                <a href="{{col.url}}" class="tile__url"></a>
                <div class="tile__content">
                    <div class="tile__brief">
                        <div class="tile__edition tile__edition--top"><span class="tile__time">{{col.date}}</span>EDITION</div>
                        <hr class="tile__hr js-hr">
                        <div class="tile__title">{{col.title|raw}}</div>
                        <p class="tile__boldedtext">
                           {{col.text|raw}}
                        </p>
                    </div>
                    <div class="tile__cover"><img src="{{col.cover}}" alt=""></div>
                </div>
            </div>
            <div class="caption"><span class="caption__number">{{col.number}}</span><span class="caption__date">{{col.date}}</span></div>
            {% endif %}
        </div>
        {% else %}
        <div class="col-16">
            {% if col.month %}
            <h2 class="wrapper__text">{{col.month|raw}}</h2>
            <div class="wrapper__info">{{col.info}}</div>
            {% else %}
            <div class="tile--edition js-tile" style="background: {{col.color}}">
                <a href="{{col.url}}" class="tile__url"></a>
                <div class="tile__cover" ><img src="{{col.cover}}" alt=""></div>
            </div>
            <div class="caption"><span class="caption__number">{{col.number}}</span><span class="caption__date">{{col.date}}</span></div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    {% if loadmore %}
    <div class="load">
        <span class="load__line"></span>
        <span class="load__line"></span>
        <a href="" data-loadmore class="load__button"><span>Load More</span></a>
    </div>
    {% endif %}
</div>