{% include '../components/heading.twig' with heading %}
<div class="wrapper">
    <div class="wrapper__row wrapper__row--full-height" data-animation="itemsFade" data-elements="js-col">
        {% for col in cols %}
        <div class="col-{% if col.text %}25{% elseif col.full %}full{% else %}slider{% endif %} col-pattern-25">
            {% if col.text %}
            <div class="wrapper__intro{% if col.text_class %} wrapper__intro--{{col.text_class}}{% endif %}" data-animation="fadeUp">{{col.text}}</div>
            {% else %}
            <div class="slider{% if col.slider_type %} slider--{{col.slider_type}}{% endif %}" data-animation="itemsFade" data-elements="video" data-component="Slider" data-options='{"type": "{{col.slider_type}}", "mode": "{{col.slider_mode}}"}'>
                <div class="slider__wrapper">
                    <div class="slider__list js-list">
                    {% for item in col.profiles %}
                        <div class="slider__item slider__item--profile js-item">
                            <div class="profile">
                                <div class="profile__img"><img src="{{item.img}}" alt=""></div>
                                <div class="profile__wrap">
                                    <div class="profile__quote">
                                        <div class="profile__qmark">“</div>
                                        <div>{{item.quote}}</div>
                                    </div>
                                    <div class="profile__texts">
                                        <h3 class="profile__name">{{item.name|raw}}</h3>
                                        <span class="profile__tag">{{item.tag}}</span>
                                        <hr class="profile__hr js-hr">
                                        <div class="profile__follow">
                                            <p>Follow<br><strong>{{item.name|split(' ')[0]}}</strong> on:</p>
                                            <div class="profile__socials">
                                                {% for social in item.socials %}
                                                <a href="{{social.link}}" target="_blank">[[svg::{{social.type}}]]</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="slider__nav">
                    <button class="slider__prev js-prev">[[svg::arrow-prev]]</button>
                    <button class="slider__next js-next">[[svg::arrow-next]]</button>
                    <ul class="slider__dots">
                        {% for item in col.profiles %}
                        <li class="slider__dot js-dot"></li>
                        {% endfor %}
                    </ul>
                </div>
            </div> 
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>