<figure {% if multiplayer.fullHeight %}class="player--full-height"{% endif %} data-component="Multiplayer" data-options='{ "sources": [{% for source in sources %}{ "src": "{{source.src}}", "title": "{{source.title}}" }{% if not loop.last %},{% endif %}{% endfor %}]{% if multiplayer.poster %}, "poster": "{{multiplayer.poster}}"{% endif %} }{% if multiplayer.tracking %}, "tracking": [{% for trackItem in tracking %}{ "breakpoint": "{{trackItem.breakpoint}}", "value": "{{trackItem.value}}", "isSend": false }{% if not loop.last %},{% endif %}{% endfor %}]{% endif %}'>
    <div class="player js-player player--video{% if multiplayer.fullHeight %} player--full-height{% endif %}" data-options='{ "autoplay": {% if multiplayer.autoplay %}true{% else %}false{% endif %}{% if multiplayer.cover %}, "size": "cover"{% endif %}{% if multiplayer.contain %}, "size": "contain"{% endif %} }'>
        <div class="player__wrapper js-player-wrapper">
            {% for source in sources %}
            <video src="{{source.src}}" preload controls {% if source.loop %} loop{% endif %} {% if not loop.first %}style="display: none;"{% endif %}>
            </video>
            {% endfor %}
            {% if multiplayer.controls and multiplayer.contain %}
            {% include './player-ui.twig' with multiplayer %}
            {% endif %}
            {% if multiplayer.cta and multiplayer.contain %}
        {% include './player-cta.twig' with multiplayer %}
        {% endif %}
        </div>
        {% if multiplayer.controls and not multiplayer.contain %}
        {% include './player-ui.twig' with multiplayer %}
        {% endif %}

        {% if multiplayer.hotspots %}
            {% for hotspot in multiplayer.hotspots %}
                {% include './player-hotspot.twig' with hotspot %}
            {% endfor %}
        {% endif %}

        {% if multiplayer.cta and not multiplayer.contain %}
        {% include './player-cta.twig' with multiplayer %}
        {% endif %}
    </div>
    {% if multiplayer.caption %}
    <figcaption>{{multiplayer.caption}}</figcaption>
    {% endif %}
</figure>
