<div class="player__hotspot js-video-hotspots" id="video-hotspot-{{loop.index}}" style="top:{{hotspot.top}}%; left:{{hotspot.left}}%">
    <h3 class="heading">
        {{hotspot.title}}
    </h3>
    <p class="text">
        {{hotspot.info}}
    </p>
</div>

<div class="player__lightbox" id="video-lightbox-{{loop.index}}">
    <button class="btn__close"></button>
    <h3 class="heading">{{hotspot.title}}</h3>

    <p class="text">
        {{hotspot.text}}
    </p>
</div>
