<div class="social{% if static %}{% else %} social--toggle{% endif %}{% if dark %} social--dark{% endif %}">
    <ul class="social__items">
        {% if facebook %}
        <a class="social__item" href="https://www.facebook.com/sharer/sharer.php?u={{facebook.link?:'>url<'}}" data-share="facebook" target="_blank">
            <span>[[svg::facebook]]</span>
        </a>
        {% endif %}
        {% if twitter %}
        <a class="social__item" href="http://www.twitter.com/intent/tweet?text={{twitter.text}}&url={{twitter.link?:'>url<'}}" data-share="twitter" target="_blank">
            <span>[[svg::twitter]]</span>
        </a>
        {% endif %}
        {% if linkedin %}
        <a class="social__item" href="http://www.linkedin.com/shareArticle?mini=true&url={{linkedin.link?:'>url<'}}" data-share="linkedin" target="_blank">
            <span>[[svg::linkedin]]</span>
        </a>
        {% endif %}
        {% if pinterest %}
        <a class="social__item" href="http://www.pinterest.com/shareArticle?mini=true&url={{pinterest.link?:'>url<'}}" data-share="pinterest" target="_blank">
            <span>[[svg::pinterest]]</span>
        </a>
        {% endif %}
        {% if instagram %}
        <a class="social__item" href="http://www.instagram.com/shareArticle?mini=true&url={{instagram.link?:'>url<'}}" data-share="instagram" target="_blank">
            <span>[[svg::instagram]]</span>
        </a>
        {% endif %}
        {% if tiktok %}
        <a class="social__item" href="" data-share="tiktok" target="_blank">
            <span>[[svg::tiktok]]</span>
        </a>
        {% endif %}
        {% if youtube %}
        <a class="social__item" href="http://www.youtube.com/shareArticle?mini=true&url={{youtube.link?:'>url<'}}" data-share="youtube" target="_blank">
            <span>[[svg::youtube]]</span>
        </a>
        {% endif %}
    </ul>
    <span class="social__mobile-close js-close"></span>
</div>
